* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  background-color: antiquewhite;
  gap: 30px;
  padding: 30px 50px;
}

.topic-name {
  color: rgb(127, 86, 67);
  grid-column: 1 / -1;
  text-align: center;
  font-size: 50px;
}

.product-card {
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.product-card:hover {
  cursor: pointer;
  transform: translateY(-20px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-sec {
  /* width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; */
  position: relative;
}
.img-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.img-container img {
  /* width: 80%;
  height: 80%; */
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  object-fit: contain;
}

.product-rating {
  width: 100%;
  flex-grow: 1;
  font-size: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;
}

.bot-sec {
  width: 100%;
  flex-grow: 1;
  background-color: rgb(166, 110, 85);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.bot-head-sec {
  width: 100%;
  /* background-color: brown; */
  display: flex;
}

.name {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.category {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: end;
  align-items: start;
  text-align: end;
  color: white;
}
.bot-mid-sec {
  width: 100%;
  /* background-color: rgb(156, 156, 156); */
}

.desc-text {
  color: white;
  text-indent: 20px;
  font-size: 1.2rem;
}
.bot-foot-sec {
  width: 100%;
  /* background-color: rgb(183, 128, 128); */
  display: flex;
  justify-content: space-between;
  color: white;
}

.keyword-container {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.price-container {
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
